<article class="col-12 col-md-3">
    <div class="card">
        <img src="{{ image }}" class="card-img-top" alt="..." style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">{{ description }}</p>
            <a href={{ url }} class="btn btn-primary">Ver más</a>
        </div>
    </div>
</article>