    <!-- Footer -->


    <footer class="container-fluid bg-dark py-5 sticky-bottom">
      <div class="row g-5">
    
        <section class="col-12 col-md-3 text-white ">
          <h5>Gato Mishu Servicios</h5>
          <hr>
            <ul class="list-unstyled text-small">
              <li><a class="link-light text-decoration-none" href="#">Historia</a></li>
              <li><a class="link-light text-decoration-none" href="#">Equipo</a></li>
              <li><a class="link-light text-decoration-none" href="#">Noticias</a></li>
              <li><a class="link-light text-decoration-none" href="#">Sitio Corporativo</a></li>
            </ul>
        </section>

        <section class="col-12 col-md-3 text-white">
          <h5>Servicios</h5>
          <hr>
            <ul class="list-unstyled text-small">
              <li><a class="link-light text-decoration-none" href="#">Servicio 1</a></li>
              <li><a class="link-light text-decoration-none" href="#">Servicio 2</a></li>
              <li><a class="link-light text-decoration-none" href="#">Servicio 3</a></li>
              <li><a class="link-light text-decoration-none" href="#">Servicio 4</a></li>
        </section>

        <section class="col-12 col-md-3 text-white">
          <h5>Blog</h5>
          <hr>
            <ul class="list-unstyled text-small">
              <li><a class="link-light text-decoration-none" href="#">Tips</a></li>
              <li><a class="link-light text-decoration-none" href="#">Consejos</a></li>
              <li><a class="link-light text-decoration-none" href="#">Artículos</a></li>
        </section>

        <section class="col-12 col-md-3">
          <div class="d-flex flex-column">
            
            <button type="button" class="btn btn-outline-light rounded-pill p-3"> 
              Para ventas: 600 0303 456
              
              <!-- <em>Para Ventas:</em><span class="fw-light">600 0303 456</span> -->
            </button>
           
          </div>
        </section>
        
       

        
      </div>
      

    </footer>
    