

<h1>ERROR 404</h1>

{{#if message}}

<img src="https://img.freepik.com/free-vector/404-error-with-cute-animal-concept-illustration_114360-5528.jpg?size=626&ext=jpg" alt="imagen de un error 404">

<h2>{{ message }}</h2>

{{else}}

<h2>Esto que estas buscando no éxiste</h2>

{{/if }}