<h1>Nuestros Servicios</h1>

<div class="row">
    {{#if services}}

    {{#each services}}
    {{> card title=this.name description=this.description url=this.url image='https://placehold.co/200x100'}}
    {{/each}}

    {{else}}
    <p>No hay productos</p>
    {{/if}}
</div>